@import 'css/variables.scss';

html {
	font: 400 18px 'Bitter', serif;
	margin: 0;
	padding: 0;
	background: $base-color url(./assets/tile.png) repeat;
}

body {
	text-align: center;
	color: lighten(#282c34, 85%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	margin: 0;
	padding: .5em 1.5em 6rem;
}

a {
	color: $accent-color;
}
p {
	line-height: 1.5;
	margin: 1em 0;
}

h1,
h2,
h3,
h4 {
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
	padding: 0;
	font-size: 2em;
}

.site-header,
.site-content,
.site-footer ul {
	padding: 0;
	max-width: 1200px;
	margin: 0 auto;
	text-align: left;
	box-sizing: border-box;
}

.site-footer {
	margin: 0 -1.5em
}

.logo {
	width: 50%;
	margin: 0 auto;
}

.site-header {
	border: 2px solid lighten($base-color, 5%);
	background: lighten($base-color, 2%);
	padding: 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 1.5em;
	opacity: 0.95;

	h1 {
		text-align: left;
		font-weight: 700;
	}

	.columns {
		display: flex;
		flex-wrap:wrap; 
		align-content: space-between;
	}
	.twitch-follow {
		margin-left: auto;
		vertical-align: middle;

		a {
			display: block;
			border: 2px solid #8d45f7;
			background: #8d45f7;
			padding: 1em 1.5em;
			margin: 0;
			line-height: 1.5;
			border-radius: 10px;
			color: #fff;
			text-decoration: none;
			white-space: nowrap;

			svg {
				margin-right: 4px;
			}
			
			&:focus,
			&:hover {
				border-color: lighten(#8d45f7, 5%);
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.site-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $base-color;
	opacity: 0.95;

	ul {
		margin: 0 auto;
		font-size: 1rem;
		line-height: 1em;
		padding: 1em;
		list-style: none;
		display: flex;
		justify-items: stretch;

		li {
			margin: 0;
			padding: 0;
			flex: 1 1 auto;
			text-align: center;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
			a {
				color: #fff;
				padding: 0 5px;

				svg {
					fill: #fff;
					height: 1em;
					margin-top: 3px;
				}

				&:hover svg {
					fill: $accent-color;
				}
			}
		}
	}
}

table.ratings {
	margin: 1em auto;
	width: 100%;
	border: 2px solid lighten($base-color, 5%);
	background: lighten($base-color, 2%);
	padding: 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	th,
	td {
		padding: 0.75em .5em;
		vertical-align: middle;
		text-align: left;

		img {
			vertical-align: middle;
			margin-right: 4px;
		}

		&:first-child {
			padding-left: 1em;
		}

		&:last-child {
			padding-right: 1em;
		}
	}

	thead th {
		border-bottom: 2px solid lighten($base-color, 5%);
		text-transform: uppercase;
	}

	tbody:nth-child(odd) {
		tr {
			th,
			td {
				background: $base-color;
			}
		}
	}

	.game-rating {
		text-align: center;
		width: 1%;
	}

	.game-platform {
		width: 1%;
	}

	tbody {
		tr > *:nth-child(1) {
			padding-left: 1em;
		}
	
		tr > *:nth-child(3) {
			padding-right: 1em;
		}

		.breakdown-row {
			display: none;
	
			table.breakdown {
				width: 100%;
				margin: 0;
		
				th,
				td {
					padding: .25em .5em;
				}

				th {
					text-align: right;
					width: 50%;
				}
			}
		}

		&.show-breakdown {
			.breakdown-row {
				display: table-row;
			}
		}
	}

	button.toggleBreakdown {
		border: 1px solid $accent-color;
		background: transparent none;
		cursor: pointer;
		border-radius: 10px;
		color: $accent-color;
		font-size: 1em;
		padding: 0.25em 0.5em;

		&:focus,
		&:hover {
			border-color: lighten($accent-color, 5%);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}
	}
}

.site-tools {
	margin: 1em 0 0;
	button {
		border: 1px solid #fff;
		background: transparent none;
		cursor: pointer;
		border-radius: 10px;
		color: #fff;
		font-size: 1em;
		padding: 0.25em 0.5em;
		margin: 1em;
		&.on {
			background-color: white;
			color: $base-color;
		}	
	}
}

.star-rating {
	white-space: nowrap;
	.star {
		color: $accent-color;
	}
	.empty-star {
		color: lighten($base-color, 10%);
	}
}

.panel-mode {
	font-size: 0.7em;
	
	.more {
		position: absolute;
		bottom: 0;
		left: 10px;
		width: 280px;
		padding: 10px;
		color: #fff;
		background-color: $base-color;
		font-size: 10px;
		line-height: 10px;
		border-top: 2px solid lighten($base-color, 10%);
		z-index: 10;
		text-align: center;
	}
	.logo,
	.site-header,
	.site-footer {
		display: none;
	}
	.site-content {
		width: 320px;
		height: 580px;
		padding: 10px;
		margin: 0;
		position: relative;
		overflow: hidden;
		outline: 2px solid white;
		background: $base-color url(./assets/tile.png) repeat;

		&:after {
			content: '';
			position: absolute;
			background: linear-gradient(180deg, rgba(33,40,80,0) 0%, rgba(33,40,80,1) 100%);
			bottom: 30px;
			left: 10px;
			right: 10px;
			width: 300px;
			height: 40px;
		}
	}
	table.ratings {
		margin: 0;
	}
	.game-platform img {
		width: 20px;
	}
}